<div>
  <div class="row">
    <div class="col-xl-12 col-lg-12">
      <div class="card" *ngFor="let item of posts$ | async">
        <div class="card-body">
          <div class="mb-2">
            <a routerLink="/blog/post/{{item.id}}" class="text-dark font-size-24 font-weight-bold">
              {{item.title.rendered}}
            </a>
          </div>
<!--          <div class="mb-3">-->
<!--            <a class="font-weight-bold" href="javascript: void(0);">zxs2162</a> wrote this post 12-->
<!--            days ago · 0 comments-->
<!--          </div>-->
<!--          <div class="mb-4">-->
<!--            <a href="javascript: void(0);" class="badge text-blue text-uppercase bg-light font-size-12 mr-2">Umi</a>-->
<!--            <a href="javascript: void(0);"-->
<!--              class="badge text-blue text-uppercase bg-light font-size-12 mr-2">React-framework</a>-->
<!--            <a href="javascript: void(0);" class="badge text-blue text-uppercase bg-light font-size-12 mr-2">Umijs</a>-->
<!--          </div>-->
          <div [innerHTML]="item.excerpt.rendered">
          </div>
        </div>
      </div>
<!--      <nz-pagination [nzPageIndex]="1" [nzTotal]="50"></nz-pagination>-->
    </div>
  </div>
</div>
<div class="example" *ngIf="loading$ | async">
  <nz-spin nzSimple></nz-spin>
</div>
