<div class="mb-2 d-flex">
  <div class="col-lg-8 p-0">
    <div class="mb-1">
      <button nz-button nzType="default" nzShape="round" (click)="refresh()"><i nz-icon nzType="redo"></i> Refresh
      </button>
    </div>
    <nz-table
      #dynamicTable
      [nzData]="itemList$ | async"
      [nzPageSize]="pagingSize"
      [nzLoading]="tableLoading$ | async"
      nzSize="small"
      nzNoResult="Please choose some service from right side"
    >
      <thead>
      <tr>
        <th *ngFor="let column of listOfColumn" [nzSortFn]="column.compare" [nzSortPriority]="column.priority">{{ column.title }}</th>
      </tr>
      </thead>
      <tbody>
      <ng-template ngFor let-data [ngForOf]="dynamicTable.data">
        <tr #dataRef>
          <td>
            <a class="text-secondary"
               (click)="vouch(data)"
               nz-tooltip
               nzTooltipTitle="Upvote"
            >
              <i nz-icon nzType="like"></i> +1
            </a>
            <div>
              <span nz-tooltip
                    nzTooltipTitle="Total upvotes"
              >{{data.profile.positive_karma}}</span>
              <span class="text-danger"
                    *ngIf="data.profile.negative_karma > 0"
                    nz-tooltip
                    nzTooltipTitle="Percentage upvote"
              >
              ({{data.profile.positive_karma/(data.profile.positive_karma + data.profile.negative_karma) | percent}})
              </span>
            </div>
            <a class="text-secondary"
               (click)="disapprove(data)"
               nz-tooltip
               nzTooltipTitle="Downvote"
            >
              <i nz-icon nzType="dislike"></i> -1
            </a>
          </td>
          <td>
            <div *ngIf="hallServiceMap[data.service]">
              {{hallServiceMap[data.service].title}}
              <span class="text-danger" *ngIf="data.item_level < 76">({{data.item_level}})</span>
            </div>
            <a *ngIf="authorized"
               class="text-info"
               routerLink="/trading/profile/{{data.profile.username}}"
               nz-tooltip
               nzTooltipTitle="Visit seller profile"
            >
            <span class="text-primary">@{{data.profile.poe.name}}</span>
            </a>
            <a *ngIf="!authorized"
               nz-tooltip
               nzTooltipTitle="Please login to show seller name"
               routerLink="/login"
            >{{ hideString(data.profile.name) }}</a>
            <div class="text-secondary">
              <span nz-tooltip nzTooltipTitle="Date joined">{{data.profile.joined}}</span> - <span nz-tooltip nzTooltipTitle="Challenge">{{data.profile.challenge}}</span>
            </div>
          </td>
          <td>
            <div>{{data.price}}</div>
            <span class="text-secondary">({{data.chaos_equivalent | number:'1.0-2'}} chaos)</span>
            <div>
              <ng-container *ngIf="authorized">
                <a class="text-info" (click)="pm(data, dataRef)">
                  <i nz-icon nzType="message"></i> {{dataRef.pmed ? 'Copied' : 'PM'}}
                </a>
              </ng-container>
              <a *ngIf="!authorized" class="text-danger" routerLink="/login">Please login before PM</a>
            </div>
          </td>
        </tr>
      </ng-template>
      </tbody>
    </nz-table>
  </div>
  <div class="col-lg-4">
    <nz-input-group nzAddOnAfterIcon="search">
      <input nz-input placeholder="Search mod" [formControl]="modFilterControl"/>
    </nz-input-group>
    <br/>
    <nz-list nzItemLayout="horizontal" [nzLoading]="hallServicesLoading$ | async">
      <nz-list-item *ngFor="let item of hallServices$ | async">
        <label nz-checkbox [ngModel]="item.checked" (ngModelChange)="toggleService(item, $event)">{{item.title}}</label>
      </nz-list-item>
      <nz-list-empty *ngIf="(hallServices$ | async)?.length === 0"></nz-list-empty>
    </nz-list>
  </div>
</div>
